<html lang="en" xmlns:th="http//www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
Users:
<body>
<table border="2">

    <tr th:each="user: ${users}">

        <td th:text="${user.name}">The Users</td>
        <td th:text="${user.age}">The Age</td>
        <td th:text="${user.pet}">The Pet</td>
    </tr>

</table>
<div class="row">
    <form action="/users/add">
        <input type="submit" value="Add new User">
    </form>
</div>
<div class="row">
    <form action="/">
        <input type="submit" value="Back">
    </form>
</div>
</body>
</html>